<!DOCTYPE html>
<html>
<head>
  <title>MeteorAirlines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav>
        <% if @current_user.present? %>
            <%= link_to("Logout", "/login", :rel => "nofollow", "data-method" => "delete") %>
        <% end %>
    </nav>

    <div>
        <%= yield %>
    </div>

</body>
</html>
